{% extends 'home.html' %}

{% block content %}
    <h1 class="text-center">书籍编辑页面</h1>
    <form action="" method="post">
        <p>书名：
            <input type="text" name="title" class="form-control" value="{{ edit_obj.title }}">
        </p>
        <p>价格：
            <input type="text" name="price" class="form-control" value="{{ edit_obj.price }}">
        </p>
        <p>出版日期：
            <input type="date" name="publish_date" class="form-control" value="{{ edit_obj.publish_date|date:'Y-m-d' }}">
        </p>
        <p>出版社：
            <select name="publish" id="" class="form-control">
{#            当前出版社应该默认选中#}
                {% for publish_obj in publish_queryset %}
                    {% if edit_obj.publish == publish_obj %}
                         <option value="{{ publish_obj.pk }}" selected>{{ publish_obj.name }}</option>
                        {% else %}
                         <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        <p>作者：
            <select name="authors" id="" multiple class="form-control">
                {% for authors_obj in authors_queryset %}
                    {% if authors_obj in edit_obj.authors.all %}
                        <option value="{{ authors_obj.pk }}" selected>{{ authors_obj.name }}</option>
                     {% else %}
                        <option value="{{ authors_obj.pk }}">{{ authors_obj.name }}</option>
                    {% endif %}

                {% endfor %}

            </select>
        </p>
        <input type="submit" value="添加" class="btn btn-info">
    </form>
{% endblock %}