{% extends 'home.html' %}

{% block content %}
    <a href="{% url 'book_add' %}" class="btn btn-success">添加</a>
    <br>
    <br>
{#这里继承模板#}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>书名</th>
                <th>作者</th>
                <th>价格</th>
                <th>出版日期</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for book_obj in query_set %}
                <tr>
                    <td>{{ book_obj.pk }}</td>
                    <td>{{ book_obj.title }}</td>
{#                    作者可能有多个#}
                    <td>
                        {% for author_obj in book_obj.authors.all %}
                            {% if forloop.last %}
                                 {{ author_obj.name }}
                            {% else %}
                                {{ author_obj.name }}|
                            {% endif %}
                        {% endfor %}
                        
                    </td>
                    <td>{{ book_obj.price }}</td>
                    <td>{{ book_obj.publish_date|date:'Y-m-d'}}</td>
                    <td>{{ book_obj.publish.name }}</td>
                    <td>
                        <a href="{% url 'book_edit' book_obj.pk %}" class="btn btn-primary btn-sm">编辑</a>
                        <a href="{% url 'book_delete' book_obj.pk %}" class="btn btn-danger btn-sm">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}